@model string

@if (Model.Equals(PublicWidgetZones.HeaderLinksBefore))
{
    <!-- PayPal Logo -->
    <li>
        <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
            <img style="width:90%; padding-top:15px;" src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now accepting PayPal">
        </a>
        @*<div style="text-align:center">
            <a href="https://www.paypal.com/uk/webapps/mpp/how-paypal-works" target="_blank">
                <font size="2" face="Arial" color="#0079CD"><b>How PayPal Works</b></font>
            </a>
        </div>*@
    </li>
    <!-- PayPal Logo -->
}

@if (Model.Equals(PublicWidgetZones.Footer))
{
    <div class="footer-lower">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
    </div>
    
}